@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit";
}
/*configurações globais*/
body{
    height: 100%;
    background-color: hsl(30, 54%, 90%);
}
/* configurações da tela fundo*/
#area-branca{
    background-color: white;
    width: 650px;
    padding: 40px;
    margin: 125px auto ;
    border-radius: 30px;
}
/*configurações da tela de fundo branca*/
img{
    width: 100%;
    border-radius: 10px;
}
/*configurações da imagem principal*/
h1, h2{
    font-family: "Young Serif";
}
h2{
    color: hsl(14, 45%, 36%);
}
/*configurações globais da fonte do texto h1 e h2*/
h1{
    font-size: 2.5rem;
    font-weight: 500;
}
h1.espacamento{
    padding-top: 20px;
}
p.espacamento, h2.espacamento{
    padding: 20px 0;
}
p.espacamento, li{
    color: hsl(30, 10%, 34%);
}
/*confirações do h1 e o primeiro paragrafo 
OBS: também estão configurada a cor do texto das li*/

div.preparation-time{
    background-color: hsla(330, 100%, 98%, 0.699);
    padding: 30px 30px 15px 30px;
    margin-top: 20px;
    border-radius: 10px;
}
h3.preparation-time{
    padding-bottom:20px ;
    color: hsl(332, 51%, 32%);
}
li.preparation-time::marker{
    color: hsl(332, 51%, 32%);
}
ul{
    padding-left: 20px;
}
/*todas as configurções da primeira parte o preparation time*/
li::marker{
    color: hsl(14, 45%, 36%);
    
}
h2.espacamento{
    font-weight: 500;
    font-size: 28px;
}
li{
    padding-left: 15px;
    padding-bottom: 10px;
}
hr{
    margin-top:25px ;
    margin-bottom: 15px;
    border-color: hsla(15, 4%, 18%, 0.075);
}
ol{
    padding-left: 25px;
}
li::marker {
    font-weight: bolder;
}
/*todas as configurações do instrutions*/
p.espacamento-nutrition{
    color: hsl(30, 10%, 34%);
    padding-bottom: 20px;
}

th{
    color: hsl(30, 10%, 34%);
    font-weight: 500;
    border-bottom: 1px solid hsla(15, 4%, 18%, 0.13);
    padding: 10px 220px 10px 30px; 
    text-align: start;
    vertical-align: middle;

}
td{
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
    border-bottom: 1px solid hsla(15, 4%, 18%, 0.13);
    text-align: start;
    vertical-align: middle;
    padding: 10px 220px 10px 30px; 
}
table{
    border-collapse:collapse ;
}
.sem-linha{
    border-bottom: 0px solid black;}